<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>시 게시판</title>
    <!-- CSS 파일 불러오기 -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>시 게시판</h1>

<div>
    <ul>
        <li th:each="post : ${posts}">
            <a th:href="@{'/poetry/' + ${post.id}}"><span th:text="${post.title}">게시글 제목</span></a>
            <p th:text="${post.content}">게시글 내용</p>
            <span th:text="${post.author}">작성자</span>
            <span>조회수: <span th:text="${post.viewCount}">0</span></span>
            <span>좋아요: <span th:text="${post.likeCount}">0</span></span>
        </li>
    </ul>
</div>

<div>
    <button th:if="${posts.hasPrevious()}" th:href="@{'/poetry?page=' + ${posts.number - 1}}">이전</button>
    <button th:if="${posts.hasNext()}" th:href="@{'/poetry?page=' + ${posts.number + 1}}">다음</button>
</div>

<!-- 메인화면으로 돌아가는 버튼 -->
<div>
    <a th:href="@{/}">
        <button type="button">메인화면으로 돌아가기</button>
    </a>
</div>

</body>
</html>
